/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]ser[Ss]ettings/
.vs/
.gradle/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*/CM/*
CM.meta
/SimulationOutput/*
!/SimulationOutput/Analytics/
!/SimulationOutput/Analytics/**
Assets/Resources/Old/new_results
Assets/Resources/Old/old_results
results
*.lscache
/Assets/ML-Agents/Timers*